img{
  max-width: 400px;
  max-height:400px;
}

.axolotl-showing {
  display: none;
}

.clickable {
  cursor: grab;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}
.darkfont {
  color: white;
}
.dark-background {
  background-color: black;
}

#light {
  display: none;
}

#dark {
  background-color: black;
  color:white;
}
